@import '../../styles/settings.scss';

.favorites {
  background-color: $color-dark;
  padding: 20px;
  border-radius: 5px;
  

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: $color-light;
      margin: 10px;
      padding: 10px;
      border-radius: 3px;
      color: $color-dark;
    }
  }
}