@import '../../styles/settings.scss';

.about {
  background-color: $color-dark;
  padding: 20px;
  border-radius: 5px;
  

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
} 