@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.actions {
  display: flex;
  gap: 8px; // odstęp między przyciskami
}

.favoriteBtn,
.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  font-size: 1.2em;
  color: $color-dark;
  transition: color 0.2s;
}

.favoriteBtn:hover,
.deleteBtn:hover {
   cursor: pointer;
}